* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1050px;
  margin: 25px auto 25px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.my-content {
  margin: 0 10px;
  height: 600px;
}

.slider-js {
  padding: 0 50px;
  position: relative;
}

.slider-js-wrap {
  overflow: hidden;
}

.slider-js-list {
  display: flex;
}

.slider-js__arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: #802626;
  color: #fff;
  top: 50%;
  margin-top: -62px;
  border: none;
  outline: none;
}

.slider-js__arrow:hover {
  cursor: pointer;
  background-color: rgba(128, 38, 38, 0.5);
}

.slider-js__arrow:active {
  background-color: #fff;
  color: #802626;
}

.slider-js__arrow-left {
  left: 0;
  padding-right: 3px;
}

.slider-js__arrow-right {
  right: 0;
  padding-left: 3px;
}

.slider-js-points-list {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}

.slider-js__point {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 8px solid #ffffff;
  background-color: #802626;
  border-radius: 50%;
}

.slider-js__point_active {
  border: 8px solid #802626;
  background-color: #ffffff;
}

.slider-js__point:nth-child(n+2) {
  margin-left: 10px;
}

.slider-js__point:hover {
  cursor: pointer;
  border: 8px solid #802626;
  background-color: #ffffff;
}

.slider-js__point:active {
  border: 8px solid rgba(128, 38, 38, 0.5);
}